.menu_bar_container {
    height: 40px;
    @apply mt-1 text-main-white bg-main-dark grid grid-cols-8 gap-0 w-full
}

.menu_bar_item {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_bar_item:hover, .menu_bar_item_active  {
    @apply bg-main-darker border border-main-dark
}
