.logo_container {
    @apply p-6 w-full shadow-lg flex items-center justify-center bg-main-dark;
    font-family: 'Playfair Display', serif;
    height: 90px;
}

.text {
    @apply font-mono text-2xl  text-white;
}

.text_link {
    @apply text-white underline
}

.text_link_disabled {
    @apply text-main underline
}

.flex_row_container {
    @apply flex flex-row
}

.flex_row_container_centered {
    @apply flex flex-row justify-center items-center
}